/**
 * Base styles
 */

footer {
    padding-bottom: 50px;
}

pre {
    margin:0px 0px 5px;
}

.input-group {
    margin-bottom: 5px;
}

.btn-code {
    font-family: Menlo, Consolas, Monaco, "Lucida Console", monospace;
}

#heapshell {
    margin-top:5px;
}

/**
 * D3 Styles.
 */

.node {
    cursor: pointer;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
    font: 12px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

.well {
    margin: 0px;
}


